<div class="container mt-4 mb-3">
    <p class="info mb-0">Estadisticas.</p>
    <p class="mt-1">Resultado de las votaciones</p>
    <hr class="bg-secondary mb-4">
    <div class="row justify-content-center">

        {{!-- AREA DE LOS CANDIDATOS --}}

        {{!-- este segmento debe ser iterativo x4--}}
        {{#each orden}}
        <div class="tarjeta col-12 col-md-10 col-lg-9 m-3">
            <div class=" ">
                <img src="{{this.imagen}}" class="imagen">
            </div>
            <div class="presentacion">
                <h4 class="nombre">{{this.nombre}}</h4>
                <p class="partido font-italic">"{{this.partido}}"</p>
                <div class="resultado">
                    <div class="progress">
                        <div class="progress-bar" style="width: {{this.votos}}%;">{{this.votos}}%</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- fin iterativo x4--}}
    </div>
</div>
