<div class="container mt-5">
    <p class="info mb-0">Votación.</p>
    <p class="mt-1">Seleccione a su candidato.</p>
    <hr class="bg-secondary mb-4">
    <div class="row justify-content-center">
        
        {{!-- AREA DE LOS CANDIDATOS --}}

        {{!-- este segmento debe ser iterativo x4--}}
        {{#each lista}}
        <form class="tarjeta col-5 m-3" id="votacion" action="/votacion?_method=PUT" method="post" enctype="application/json">
            <div class=" ">
                <img src="{{this.imagen}}" class="imagen">  {{!-- IMAGEN DESDE LA BASE DE DATOS --}}
            </div>
            <div class="presentacion">
                <h4 class="nombre">{{this.nombre}}</h4> {{!-- NOMBRE DESDE LA BASE DE DATOS --}}
                <p class="partido font-italic">"{{this.partido}}"</p> {{!-- PARTIDO DESDE LA BASE DE DATOS --}}
            </div>
            <input type="hidden" name="id" value="{{this._id}}">
            <input type="hidden" name="votos" value="{{this.votos}}">
            <div class="votar">
                <button type="submit" class="btn btn-danger ml-4">Votar</button>
            </div>
        </form>
        {{/each}}
        {{!-- fin iterativo x4--}}

        {{!-- FIN DE AREA DE LOS CANDIDATOS --}}
    </div>
</div>

{{!-- QUEDA REVISAR DIRECCIONAMIENTO DEL BOTON PARA REALIZAR LA VOTACION,
    SE DEBE PARA EL ID DEL SELECCIONADO --}}
